*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
padding-left: 10px;
margin-left: 20px;
border-left: 1px solid #f1e3e3;
}

.header-social-links a {
color: #a0a0a0;
padding-left: 6px;
display: inline-block;
line-height: 1px;
transition: 0.3s;
}

.header-social-links a:hover {
color: #2e0fb6;
}